table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 2px;
  }
  
  th {
    background-color: blue;
  }
  
  tr:nth-child(even) {
    background-color: lightblue;
  }
  
  td:first-child {
    font-weight: bold;
  }